# Configuration Base de Données
DB_HOST=localhost
DB_PORT=3306
DB_USER=app_projet_peda
DB_PASSWORD=JeR@swY&LM6Jja!o6hL&
DB_ROOT_PASSWORD=''
DB_NAME=projet_pedagogique

# Environnement
NODE_ENV=development

# Notes:
# - DB_PASSWORD : laisser vide si pas de mot de passe (configuration par défaut de MariaDB, ça ne devrait pas arriver.
#                 Si ça arrive, contactez votre administrateur pour qu’il change ça).
#                 Et n’utilisez pas JeR@swY&LM6Jja!o6hL& comme mot de passe en production.
# - DB_ROOT_PASSWORD : A effacer après initialisation de la base de données.
# - NODE_ENV : development pour les logs détaillés, production pour mode optimisé
